@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --text: #fff;
  --light_green: #00ffa7;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: black;
  /* border: 2px solid green; */
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: black;
}
/* Menu */
nav #logo_menu {
  display: flex;
}
.menu_icon .bx {
  color: white;
  font-size: 3rem;
}
.menu_icon {
  display: none;
  cursor: pointer;
}
nav ul {
  color: white;
  display: flex;
  gap: 30px;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
  /* display: none; */
}
nav ul li:first-child {
  color: var(--light_green);
}

nav ul li {
  cursor: pointer;
}

/* Breakpoints for responsive navbar */
@media (max-width: 993px) {
  nav {
    padding: 1rem 5%;
  }
}
@media (max-width: 768px) {
  .menu_icon {
    display: block;
  }
  nav ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: black;
    height: fit-content;
    flex-direction: column;
    gap: 10px;
    padding: 1rem 5%;
  }
  nav #logo_menu {
    justify-content: space-between;
    width: 100%;
  }
  nav ul {
    backdrop-filter: blur(50px);
  }
}

/* Mian content */
#content {
  background: black;
  padding: 5rem 0px;
  color: white;
  width: 100%;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 988px;
  height: auto;
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  text-align: center;
}

.container h1 {
  margin-top: 2.5rem;
  font-weight: 900;
  font-size: 120px;
  line-height: 7rem;
  letter-spacing: 11%;
}

.para {
  width: 100%;
  text-align: center;
  padding-top: 0.5rem;
}

/*  styles for responsiveness */
@media (max-width: 768px) {
  .container {
    width: 90%;
  }

  .container h1 {
    font-size: 50px;
    font-weight: 300;
    line-height: 2.5rem;
  }

  .para {
    width: 90%;
    margin: 0 auto;
  }
}

/* Card Section css */

#card {
  width: 100%;
  padding: 3rem 0;
  font-family: "Poppins", sans-serif;
}
.card_container {
  width: fit-content;
  margin: 0 auto;
}
.service_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service_heading h2 {
  font-size: 50px;
  font-weight: 600;
  line-height: 70.7px;
  text-align: left;
}

.service_heading p {
  font-size: 18px;
  font-weight: 500;
  line-height: 25.45px;
  text-align: left;
}

.arrows {
  display: flex;
  align-items: start;
  height: 5rem;
}

/* Optional: Adjust spacing between items */
.left_arrow {
  margin-top: 2rem;
}

/* Card  */
.main_card {
  padding: 1rem 0;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

/* width: 355px;
height: 499px;
left: -3px;
gap: 0px; */

.main_card .one {
  width: 293px;
  height: 402px;
  top: 206px;
  left: 351px;
  gap: 0px;
  border-radius: 20px 20px;
  border: 3px 0px 0px 0px;
  border: 3px solid #000000;
}

.circle_head {
  display: flex;
  border-bottom: 3px solid #000000;
  gap: 0.5rem;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.3rem;
}
.circle_head h3 {
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 600;
  line-height: 21.21px;
  margin-top: 3px;
}
.card_chain {
  width: 100%;
}
.card_chain h2 {
  font-family: "Poppins";
  font-size: 23px;
  font-weight: 600;
  line-height: 24.24px;
  text-align: center;
  padding-top: 40px;
}
.card_image {
  width: 100%;
  height: 9.4rem;
  padding: 0 16px;
  border-bottom: 2px solid #000000;
  margin-top: 30px;
}
.explore_button {
  width: 100%;
  padding: 12px 0;
  margin-bottom: -10px;
  display: flex;
  justify-content: end;
}
.explore_button button {
  height: 100%;
  margin-right: 19px;
  padding: 10px 12px 10px 12px;
  gap: 10px;
  border-radius: 50px;
  border: 2px solid black;
  box-shadow: 0px 4px 24px -1px #ffffff;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 600;
  line-height: 19.8px;
  text-align: left;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card_one {
  background: rgb(43, 255, 138, 0.15);
}

.card_two .card_chain .card_image img {
  /* background-color: red; */
  height: 108%;
}
.card_three .card_chain .card_image img {
  /* background-color: red; */
  height: 113%;
}
.card_four .card_chain .card_image img {
  /* background-color: red; */
  height: 121%;
}

.card_two .explore_button button {
  background-color: #000000;
  color: white;
}

/* Responsive style for card */
@media (max-width: 768px) {
  .arrows {
    display: none;
  }
  .service_heading h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 2rem;
    text-align: left;
  }
  .card_container {
    padding: 5px;
  }
}

/* Footer section */

footer {
  background-color: #000000;
  height:fit-content
}
.footer_img {
  display: flex;
  justify-content: center;
}
.footer_img img {
  height: fit-content;
  border: 3px solid blue;
  padding-top: 68px;
}
.line {
  background-color: #000000;
}
.footer_line {
  width: 1122.02px;
  height: 0px;
  border: 1px solid #5e5e5e;
}
